@include sign-in;

.header-bottom{
    margin-top:4rem;
    display: flex;


    .right-h-b, .left-h-b{
        width: 50%;
       
    }

    .right-h-b{
        .header_img_bottom{
            width: 100%;
            height: 250px;
        }

        img{
            object-fit: cover;
            width:100%;
            height: 100%;
        }
    }

h2{
    font-size: $h2-dim;
    line-height: 4rem;
    padding-bottom: 1rem;
}
p{
    font-size: $p-medium;
    
}
div.buttons{
    padding: 3.5rem 0;
}

.buttons a{
flex-basis: 100%;
padding-top: 1rem;
text-decoration: none;
font-size:$link;
color: $main-color;



i{
    font-size:$p-small;
}
}








       
           


}