#s_one{
    background-color: $sand_color;
    width: 100%;

}

@include sectionPhoto;

.s_one-top::after{
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: black;
    content: "";
}

